TSB100_lab/Connected Services/WCFDiaryService/WCFDiaryService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49328/WCFDiaryService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TSB_lab_WCFService" />
  <xs:element name="GetDiaryData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDiaryDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TSB_lab_WCFService" minOccurs="0" name="GetDiaryDataResult" nillable="true" type="q1:ArrayOfWCFDiaryContentData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>