TSB100_lab/Connected Services/WCFDiaryService/WCFDiaryService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TSB_lab_WCFService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TSB_lab_WCFService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfWCFDiaryContentData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WCFDiaryContentData" nillable="true" type="tns:WCFDiaryContentData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWCFDiaryContentData" nillable="true" type="tns:ArrayOfWCFDiaryContentData" />
  <xs:complexType name="WCFDiaryContentData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Author" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Entry" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Important" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WCFDiaryContentData" nillable="true" type="tns:WCFDiaryContentData" />
</xs:schema>